{% extends "base.html" %}


{% block titulo %}
    <title>Inicio</title>
    <style>

        .image-head {
            width: 6rem;
        }

        .table-row .table-cell {
            vertical-align: middle;
        }

        .table-image {
            width: 3rem;
            height: 3rem;
            margin-left: 1rem;
        }
    </style>
{% endblock%}

{% block contenido %}
    <h1 class="h2">Página principal</h1>

    <main>
        <div class="card">

        </div>
        <script>
            console.log('Set datatable')

            let table = new DataTable('#dataTable', {
                // options
            });
        </script>
    </main>
{% endblock%}

