{% extends "base.html" %}

{% block titulo %}
    <title>Crear proyecto</title>

    <style>
        .text-white {
            color: white;
        }
    </style>
{% endblock%}


{% block contenido %}
    <h3 style="color: blue;">Crear nuevo proyecto</h3>
    <form action="" method='post'>
        {% csrf_token %}
        {{ form.as_p }}


        <div>
            <button type="submit" class="btn-primary">Guardar</button>
            <button  class="btn-secondary text-white">
                <a href="{% url 'lista_proyectos' %}">Cancelar</a>
            </button>
        </div>
    </form>

{% endblock%}