{% extends "base.html" %}


{% block titulo %}
    <title>Proyectos</title>
    <style>

        .image-head {
            width: 6rem;
        }

        .table-row .table-cell {
            vertical-align: middle;
        }

        .table-image {
            width: 3rem;
            height: 3rem;
            margin-left: 1rem;
        }

        .card .image {
            object-fit: cover;
            height: 100%
        }
    </style>
{% endblock%}

{% block contenido %}
    <div class="d-flex justify-content-between mb-4">
        <h1 class="h2">Proyectos</h1>
        <a href="{% url 'crear_proyecto' %}">
            <button class="btn-success">Agregar nuevo</button>
        </a>
    </div>

    <main>
     {% for proyecto in proyectos %}
        <a href="{% url 'detalle_proyecto' proyecto.id %}">
            <div class="card ">
            <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{ proyecto.urlImagen }}" class="img-fluid image rounded-start rou" alt="reforestacion">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-success">{{ proyecto.nombre }}</h5>
                    <p class="card-text"><strong>Estatus: </strong>{{ proyecto.status }}</p>
                    <p class="card-text"><strong>Lider: </strong>{{ proyecto.lider }}</p>
                    <p class="card-text"><strong>Ubicación: </strong>{{ proyecto.ubicacion }}</p>

                    <p class="card-text"><small class="text-muted">Ultima actualización recientemente</small></p>
                  </div>
                </div>
              </div>
        </div>
        </a>
     {% endfor %}

    </main>
{% endblock%}